@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');


body {
    background: #eee;
}

.newspaper-container {
    width: 75%;
    background: white;
    margin: 5em auto;
    padding: 2em;
    border-radius: 25px;
    box-shadow: 2px 2px 5px grey;
}


.date {
    text-align: justify;
    font-size: small;
    font-family:Arial, Helvetica, sans-serif
}

header {
    text-align: center;
    font-family: abril fatface;

}

ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 0px;
    padding: 6px;
    font-size: small;
}

h5 {
    color:red;
    font-family: abril fatface; 
}
main img { width: 100%;

}
main p {
    width: 100%;
    border-bottom: 1px #ededed solid;
    padding-bottom: 2em;
    text-align: justify;

}


h2 { 
    font-family: roboto slab;

}

.more-articles {
    display: inline-block;
    width: 40%;
}
.more-articles img{

    width: 100%;
}
nav {
    position: sticky;
    top: 0px;
    border-top: solid #ededed;
    border-bottom: solid #ededed;
    border-width: 1px;
    background: white;
    font-size: small;
    margin: auto;
}
nav ul {
    padding: 0px;
    margin: auto;
    text-align: center;

}
nav ul li a{
    color: lightslategrey;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    
}

.bonus-articles {
    display: inline-grid 30% 30% 30%;
    padding: 1px 8px 4px 8px;
    text-align: center;
    margin: 1px 4px 1px 4px;
    justify-content: center;
}

     
        
.more-articles{

display: flex;


}